/* 字体大小 */
$size-normal: 30px;
$size-small: 24px;
/* 浅暗色 */
$light-color: #9498a4;
/* 灰色 */
$gray-color:#9d9d9f;
/* 灰色 */
$blue-color:#23cbfa;
/* 背景色 */
$bg-color: #ebedf6;
/* 淡蓝底色 */
$bg-blue-color: #e6faff;
/* 标头背景色 */
$header-bg-color: #cc95fd;
/* 标尾背景色 */
$footer-bg-color: #eff2fe;
/* 图标颜色 */
$icon-color:#989eb3;
