@import '../theme.scss';

.mine-c{

}

.mine-info {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  .info-l {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-r {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: bold;
      font-size: $size-normal;
    }

    .id {
      font-size: $size-small;
      color: $light-color;
    }
  }
}
